@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<address>
    <strong>Me:</strong> <a href="mailto:zfaust88@gmail.com">zfaust88@gmail.com</a><br />
    
</address>
